* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

select {
    margin: 0 5px;
    width: 60px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 200px;
    padding: 10px;
}

.back-button {
    display: block;
    width: 80%;
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    cursor: url('../img/Cuyicursor.png'), auto;
}

.back-button:hover {
    background-color: #0056b3;
}

#verificar {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #323232;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: url('../img/Cuyicursor.png'), auto;
}

#verificar:hover {
    background-color: #a5a5a5;
}