* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;

}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto 0;
    cursor: url('../img/Cuyicursor.png'), auto;
}

.borde-rojo {
    border: 2px solid red;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: url('../img/Cuyicursor.png'), auto;
}

.back-button:hover {
    background-color: #0056b3;
}